@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --color-marron: #6B4F28;
    --color-beige: #fdf5ea;
    --color-oscuro: #3e2723;
    --color-claro: #eeeeee;
    --color-acento: #a1887f;
    --blanco: #ffffff;
    --naranja: #fdb328;
    --bg: #f5f5f5;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
    background-color: var(--color-claro);
    padding-top: 77px;
    font-family: "Montserrat", arial;
}

/* ====== NAVEGADOR ====== */
.navbar-nav .nav-link {
    color: var(--blanco);
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--color-acento);
}

.dropdown-menu .dropdown-item {
    color: var(--color-oscuro);
    transition: background 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--color-acento);
    color: var(--color-beige);
}
/* ====== CARRUSEL ====== */
.carousel-item {
    position: relative;
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    bottom: 0 !important;
    top: 0 !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.carousel-caption h1,
.carousel-caption p {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.carousel-caption h1 {
    font-size: 4rem;
}
.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
}

/* ====== SECCIONES ====== */
.span-marron {
    background-color: var(--color-marron) !important;
    color: #fff !important;
}
.precio-marron {
    color: var(--color-oscuro) !important;
    font-weight: bold;
}
.pedidos{
    background-color: var(--color-oscuro);
}
.pedidos a{
    color: var(--color-oscuro) !important;
}


/* ====== TABLAS ====== */
.table-dark {
    background-color: var(--color-oscuro) !important;
    color: #fff !important;
}
.table-dark th,
.table-dark td {
    background-color: var(--color-oscuro) !important;
    color: #fff !important;
    border-color: #222 !important;
}

/* ====== FOOTER ====== */
footer {
    background-color: var(--color-marron) !important;
}
footer .container {
    background-color: transparent !important;
}
footer .derechos {
    background-color: var(--color-oscuro) !important;
}
footer a, footer p {
    color: var(--color-beige);
}
.footer-alto {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer a:hover {
    color: var(--color-acento);
    text-decoration: underline;
    transition: color 0.3s;
}
footer i:hover {
    color: var(--color-acento);
    text-decoration: underline;
    transition: color 0.3s;
}

/* Centra los subtítulos del footer */
footer h5 {
    text-align: center;
}
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}
.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--color-oscuro);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}
@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 37rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 24rem;
  height: 28rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 24rem;
  height: 28rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--blanco);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--blanco);
}

.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--naranja);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--blanco);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--color-marron);
}

/*ANIMACIONES DE IMAGENES EN SOMOS*/
/* Oculta cualquier parte que se salga de la tarjeta */
.card {
  overflow: hidden;
}

/* transición suave para las imágenes */
.card-img-top {
  transition: transform 0.4s ease;
}

/* cuando el cursor está sobre la tarjeta */
.card:hover .card-img-top {
  transform: scale(1.05) translateY(-5px); /* zoom + desplazamiento */
}

/* (opcional) también mover toda la tarjeta un poco */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/*ESTILOS PARA VISION*/
#vision .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#vision .card:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Animación para mover la imagen a la izquierda al pasar el cursor en ¿quienes somos? */
.img-hover {
  transition: transform 0.3s ease; /* Animación suave */
}

.img-hover:hover {
  transform: translateX(-20px); /* Se mueve 20px a la izquierda */
}

