:root {
    --color-marron: #6B4F28;
    --color-beige: #fdf5ea;
    --color-oscuro: #3e2723;
    --color-claro: #eeeeee;
    --color-acento: #a1887f;
    --blanco: #ffffff;
}

body{
    background-color: var(--color-claro);
    padding-top: 77px;
    font-family: "Montserrat", arial;
}

/* ====== NAVEGADOR ====== */
.navbar-nav .nav-link {
    color: var(--blanco);
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--color-acento);
}

.dropdown-menu .dropdown-item {
    color: var(--color-oscuro);
    transition: background 0.3s, color 0.3s;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: var(--color-acento);
    color: var(--color-beige);
}
/* ====== CARRUSEL ====== */
.carousel-item {
    position: relative;
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    bottom: 0 !important;
    top: 0 !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.carousel-caption h1,
.carousel-caption p {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.carousel-caption h1 {
    font-size: 4rem;
}
.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(60%);
}

/* ====== SECCIONES ====== */
.span-marron {
    background-color: var(--color-marron) !important;
    color: #fff !important;
}
.precio-marron {
    color: var(--color-oscuro) !important;
    font-weight: bold;
}
.pedidos{
    background-color: var(--color-oscuro);
}
.pedidos a{
    color: var(--color-oscuro) !important;
}


/* ====== TABLAS ====== */
.table-dark {
    background-color: var(--color-oscuro) !important;
    color: #fff !important;
}
.table-dark th,
.table-dark td {
    background-color: var(--color-oscuro) !important;
    color: #fff !important;
    border-color: #222 !important;
}

/* ====== FOOTER ====== */
footer {
    background-color: var(--color-marron) !important;
}
footer .container {
    background-color: transparent !important;
}
footer .derechos {
    background-color: var(--color-oscuro) !important;
}
footer a, footer p {
    color: var(--color-beige);
}
.footer-alto {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer a:hover {
    color: var(--color-acento);
    text-decoration: underline;
    transition: color 0.3s;
}
footer i:hover {
    color: var(--color-acento);
    text-decoration: underline;
    transition: color 0.3s;
}

/* Centra los subtítulos del footer */
footer h5 {
    text-align: center;
}